<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>copyright</key>
    <string>ETBembo designed for Edward Tufte / Graphics Press \(c\) 2002 Dmitry Krasny / Deka Design</string>
    <key>familyName</key>
    <string>ETBook</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>styleMapFamilyName</key>
    <string>ETBook</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>419</integer>
      <integer>430</integer>
      <integer>655</integer>
      <integer>667</integer>
      <integer>722</integer>
      <integer>743</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>ETBook-Bold</string>
    <key>postscriptForceBold</key>
    <true/>
    <key>postscriptFullName</key>
    <string>ETBook Bold</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-279</integer>
      <integer>-264</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>57</integer>
      <integer>66</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>99</integer>
      <integer>111</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-111</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
  </dict>
</plist>
