<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>copyright</key>
    <string>ETBembo Italic designed for Edward Tufte / Graphics Press \251 2004 Dmitry Krasny / Deka Design</string>
    <key>familyName</key>
    <string>ETBook</string>
    <key>styleName</key>
    <string>Display Italic</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>-12</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>429</integer>
      <integer>443</integer>
      <integer>646</integer>
      <integer>662</integer>
      <integer>755</integer>
      <integer>776</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>ETBook-DisplayItalic</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>ETBook Display Italic</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-276</integer>
      <integer>-272</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>43</integer>
      <integer>53</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>66</integer>
      <integer>69</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-111</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Display</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
  </dict>
</plist>
